<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>w-haibara.com</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP">
  <link rel="stylesheet" href="/styles/tailwind.css" />
</head>
<body>
  <div>
    <div class="container mx-auto px-4>
      {{ content | safe }}
    </div>
  </div>
</body>
</html>
